<script>
  $(function() {
    $(".like").on("click", function() {
      var post_id = $(this).data("id");
      console.log(post_id);

      $.ajax({
        url: "/post/like/" + post_id,
        method: "GET"
      }).done(function(response) {
        console.log(response);
      })
    })
  });
</script>

<div class="flex flex-col h-screen my-auto items-center bgimg bg-cover my-8">
  <%= render "post", collection: @posts%>
</div>
